body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  width: 100%;
  padding: 0px 0px;
}

#take-survey-btn {
  margin-top: 8px;
}

#login-with-fb-btn {
  color: #fff;
  background-color: #3B5998;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.center-align {
  width: 260px;
  height: 50px;
  position: relative;
  margin: auto;
}

p.p-modal {
  margin: 10px;
}

.fa.fa-facebook-official {
  font-size: 20px;
  margin-right: 10px;
}
